<center>
    <div id="addUser">
        用户名：<input type="text" ng-model="user.account"></input></br></br>
        姓     名：<input type="text" ng-model="user.userName"></input></br></br>
        密     码：<input type="password" ng-model="user.password"></input></br></br>
        手     机：<input type="text" ng-model="user.mobile"></input></br></br>
        邮     箱：<input type="text" ng-model="user.email"></input></br></br>
        <input class="button1" type="button" ng-click="addUser(user);" value="注   册"></input>
        <input class="button1" type="button" ng-click="toLogin();" value="返  回">
    </div>
</center>